<%- include("../common/main-nav-cms",{page:"cms-services"}) %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Services Page Management</h3>
              <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item removekey"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active removekey" aria-current="page"><a href="#">Frontend</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Services</li>
                </ol>
              </nav> -->
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="card-description">Add New service</p>
                      <a href="/frontend-management/services/view" type="button" class="btn btn-outline-info btn-icon-text btn-sm"> View<i class=" mdi mdi-eye  btn-icon-append"></i>
                      </a>
                    </div>
                    <form method="post" class="forms-sample" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="exampleInputName1">Service title</label>
                        <input type="text" class="form-control" name="service-title" id="service-title" placeholder="Title">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Service short title</label>
                        <input type="text" class="form-control" id="service-short-title" name="service-short-title" placeholder="Short title">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="service-description" name="service-description" rows="4"></textarea>
                      </div>
                      <div class="form-group">
                        <label>Service images</label>
                        <div id="serviceimg"></div>
                        <input type="file" name="img" id="img" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Choose</button>
                          </span>
                        </div>
                      </div>
                     
                      <button id="submit-btn" type="submit" class="btn btn-primary me-2">Submit</button>
                      <div id="submit-btn-loader" class="btn btn-primary me-2">Loading...</div>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="footer-inner-wraper">
              <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
                </div>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/file-upload.js"></script>
    <script>

  
      $(document).ready(function () {
            $("#submit-btn-loader").hide();
             var base_url = window.location.origin+'/resources/images/services/';    
             let authorizationToken = "Bearer "+ window.localStorage.getItem("token");
             var service_edid = window.localStorage.getItem("service_edid");
             if(service_edid != null) {
             $.ajax({
                 method:"get",
                 beforeSend: function(request) {
                request.setRequestHeader("Authorization", authorizationToken);
                },
                 url: "/api/services/"+service_edid, 
                 success: function(data, textStatus, jqXHR)
                 {
                  var services = data.data.services;
                  // console.log(services[0])
                  $('#service-title').val(services[0].title);
                  $('#service-short-title').val(services[0].short_title);
                  $('#service-description').val(services[0].description);
                  $('#serviceimg').html('<img src="'+base_url+services[0].image+'">')

                 
                 },
                 error: function(error)
                 {
                    errorToast(error.responseJSON);
                 }
               });

              }


        $("#submit-btn").click(async function (e) { 
          e.preventDefault();
          $("#submit-btn").hide();
          $("#submit-btn-loader").show();
          var fd = new FormData();
          var files = $('#img')[0].files;
          // if(files.length > 0 ){
            var service_edid = window.localStorage.getItem("service_edid");
            fd.append('title',$('#service-title').val());
            fd.append('shortTitle',$('#service-short-title').val());
            fd.append('description',$('#service-description').val());
            if(service_edid == null)
            {
              fd.append('image',files[0]);
            }
            else
            {
              if(files.length > 0 ){
                fd.append('image',files[0]);
              }
            }
            
             let authorizationToken = "Bearer "+ window.localStorage.getItem("token");
            
             var url = "";
             var method = "";
            if(service_edid != null)
            {
            url = "/api/services/"+service_edid;
            method = "put";
            } else
            {
              url = "/api/services/";
              method = "post";
            }

             $.ajax({
                 method:method,
                 beforeSend: function(request) {
                request.setRequestHeader("Authorization", authorizationToken);
                },
                 url: url, 
                 data:fd,
                 processData: false,
                 contentType: false,
                 success: function(data, textStatus, jqXHR)
                 {
                   if(jqXHR.status == 200)
                   {
                    // $('#img').val("");
                    // $('.file-upload-info').val("");
                    if(service_edid == null)
                    {
                    $('#service-title').val("");
                    $('#service-short-title').val("");
                    $('#service-description').val("");
                    $('#img').val("");
                    $('.file-upload-info').val("");
                        $("#submit-btn").show();
                        $("#submit-btn-loader").hide();
                          successToast(data.message);
                    }
                    else
                    {
                      $('#img').val("");
                      $('.file-upload-info').val("");
                      $("#submit-btn").show();
                        $("#submit-btn-loader").hide();
                      successToast(data.message);
                      //localStorage.removeItem("service_edid"); 
                      
                    }
                    
                   }
                 },
                 error: function(error)
                 {
                    $("#submit-btn").show();
                    $("#submit-btn-loader").hide();
                    
                    errorToast(error.responseJSON.message);
                 }
               });

              // } else {
              //   alert("upload image");
              // }

           });
      });

      $('.removekey').click(function () {
        localStorage.removeItem("service_edid");
});
 </script>
    <!-- endinject -->
  </body>
</html>